/* For Describe yourself textarea*/
.container2 {
    max-width: auto;
    margin: 0px auto;
    margin-top: 0px;
}

.comment {
    float: left;
    width: 100%;
    height: auto;
}

.commenter {
    float: left;
}

.commenter img {
    width: 35px;
    height: 35px;
}

.comment-text-area {
    float: left;
    width: 100%;
    height: auto;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

/* For Address Textarea*/
.container3 {
    max-width: auto;
    margin: 0px auto;
    margin-top: 0px;
}

.comment3 {
    float: left;
    width: 100%;
    height: auto;
}

.commenter3 {
    float: left;
}

.commenter3 img {
    width: 35px;
    height: 35px;
}

.comment3-text-area {
    float: left;
    width: 100%;
    height: auto;
}

.textinput3 {
    float: left;
    width: 265px;
    min-height: 50px;
    outline: none;
    resize: none;
    border: 1px solid rgb(179, 176, 176);
    padding-left: 15px;
}

.profile_title {
    /* background-color: rgb(245, 239, 239); */
    /* background-image: linear-gradient(to right, rgb(245, 239, 239) , white); */
    background-image: linear-gradient(to right, rgb(233, 178, 178) , white);
    
}

.button_add {
    background-color: whitesmoke; /* Green */
    border: none;
    color: Green;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }
  .button_add:hover {
    background-color: orange;
    color: Green;
  }

  .button_remove {
    background-color: whitesmoke; /* Green */
    border: none;
    color: red;
    /* padding: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }

  .button_remove:hover {
    background-color: orange;
    color: red;
  }
  .button4 {border-radius: 50px;}

  /* Tooltip container */
.tooltip label{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip label .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip label:hover .tooltiptext {
    visibility: visible;
  }

  .list-heading {
    font-size: 2em;
    text-shadow: 1px 1px;
    color: #be3e5a;
    text-align: center;
  }

  .listitem {
    
    /* background-color: #c75b73; */
    background-color: rgb(221, 134, 19);
    font-size: 1.3em;
    color: white;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    /* box-shadow: 5px 5px 8px linen, 10px 10px 8px rgb(167, 82, 82); */
    box-shadow: 4px 4px 8px white, 8px 8px 8px rgb(230, 176, 106);
  }

  .listitem li{
    margin: 0 0 0 20px;
  }

  .offer-heading {
    font-size: 2em;
    text-shadow: 1px 1px;
    color: #be3e5a;
    text-align: center;
  }

  .offer-subheading {
    font-size: 1.3em;
    text-shadow: 1px 1px;
    color: rgb(247, 212, 170);
    text-align: center;
    
  }

  .offer {
    text-align: center;
    /* background-color: #c75b73; */
    background-color: rgb(221, 134, 19);
    font-size: 1.3em;
    color: white;
    padding: 10px;
    margin: 20px 10px 50px 10px;
    border-radius: 20px;
    /* box-shadow: 5px 5px 8px linen, 10px 10px 8px rgb(167, 82, 82); */
    box-shadow: 4px 4px 8px white, 8px 8px 8px rgb(230, 176, 106);
  }

  .offer-active {
    text-align: center;
    background-color: #ce3b5b;
    font-size: 1.3em;
    color: white;
    padding: 10px;
    margin: 20px 10px 50px 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px white, 8px 8px 8px #da8698;
  }

  .offer li{
    /* margin: 0 0 0 20px; */
    color: white;
  }

  .offer:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  /* Buttons */
  .my-buttons a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background:#555;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding:5px 10px;
    font-size: 15px;
    color:#fff;
    border-radius: 8px;
}
.my-buttons a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#c32143;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 8px;
}
.my-buttons a:hover, .my-buttons a:focus, .my-buttons a:active {
  color: white;
  text-decoration:none;
}
.my-buttons a:hover:before, .my-buttons a:focus:before, .my-buttons a:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/* Buttons 2 */
.btn_2 {
  /* padding: 6px 20px; */
  padding: 5px 8px;
}

.btn_2 {
  /* background: #c32143;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px; */
  /* padding: 8px 25px; */
  /* display: inline-block;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin: 1em 0 0 0;
  font-size: 0.85em; */

   background-color: #c32143;
    padding: 7px 10px;
    color: #fff;
    font-size: 12px;
}

.btn_2:hover {
background:#555;
}